//---------------------------------- 
// 背景色
//---------------------------------- 
.hp_bgcGray {
    background-color: #000D2B;
}

//---------------------------------- 
// ボーダー
//----------------------------------
.hp_bdt {
    border-top: 1px solid #32394a;
}


//---------------------------------- 
// マージン
//----------------------------------

//---------------------------------- 
// パディング
//----------------------------------


//---------------------------------- 
// デバイスのサイズでの表示非表示
//----------------------------------

/*pc幅の時は隠す*/
.hp_pc_hide {
    
    @media screen and (min-width: 769px){
        display: none;
    }
    
}
/*pc幅のは表示する*/
.hp_sp_hide {
    display: none;
    @media screen and (min-width: 769px){
        display: block;
    }
}